import configContext from '@/context/configContext';
import hljs from 'highlight.js/lib/core';
import typescript from 'highlight.js/lib/languages/typescript';
import css from 'highlight.js/lib/languages/css';
import xml from 'highlight.js/lib/languages/xml';
// 只注册 typescript 语言（它包含了 TSX/JSX 的支持）
hljs.registerLanguage('typescript', typescript);
hljs.registerLanguage('xml', xml);
hljs.registerLanguage('css', css);

%CONTENT

const App = () => {
  const [show, setShow] = createSignal([]);
  const context = useContext(configContext);

  return (
    <For each={demos}>
      {demo => {
         const highlightedCssCode = hljs.highlight(demo.css_code, {
          language: 'css',
        }).value;
        const highlightedCode = hljs.highlight(demo.source, {
          language: 'typescript',
        }).value;
        const split_list=demo['en-US_title'].split(' ')
        const id=split_list.length > 1? `${split_list.join('-')}` : demo['en-US_title']
        return (
          <div class="codebox-wrapper" id={id}>
            <div class="ac-description">
              <div class="ac-description-children">
                <div class="code-preview">
                  <div class="ac-demo-title">
                    <h2>{demo[`${context?.lang?.()}_title`]}</h2>
                  </div>
                  <div innerHTML={demo[`${context?.lang?.()}_desc`]}></div>
                </div>
              </div>
            </div>
            <div class="demo">{demo.component()}</div>
            <div class="arco-code-operations">
              <Button
                shape="circle"
                onClick={() => {
                  if (show().includes(demo['zh-CN_title'])) {
                    setShow(show().filter(item => item !== demo['zh-CN_title']));
                  } else {
                    setShow([...show(), demo['zh-CN_title']]);
                  }
                }}
                size="small"
                icon={<IconCode />}
              ></Button>
            </div>
            <div
              style={{ height: show().includes(demo['zh-CN_title']) ? 'unset' : '0px' }}
              class="arco-content-code-wrapper"
            >
              <div class={`content-code-design`}>
                <pre innerHTML={highlightedCode}></pre>
              </div>

              {demo.css_code&&<div class={`content-css-design`}>
                <pre innerHTML={highlightedCssCode}></pre>
              </div>}
            </div>
          </div>
        );
      }}
    </For>
  );
};
export default App;
