%CONTENT

const App = () => {
  return (
     <For each={demos}>
      {demo => (
        <div class="codebox-wrapper">
          <div class="ac-description">
            <div class="ac-description-children">
              <div class="code-preview">
                <div class="ac-demo-title">
                  <h2>{demo['zh-CN_title']}</h2>
                </div>
                <div innerHTML={demo['zh-CN_desc']}></div>
              </div>
            </div>
          </div>
          <div class="demo">{demo.component}</div>
        </div>
      )}
    </For>
  );
};
export default App;
