.sld-empty-image{
    display: flex;
    align-items: center;
    .sld-icon-base{
     color: var(--sld-default-grey-text-color);

        margin: auto;
        display: flex;
        justify-content: center;
    }
    svg{
        // font-size: 35px;
        // height: 40px;
        margin: auto;
    }
}
.sld-empty-container{
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 15px 0;
}
.sld-empty-description{
     color: var(--sld-default-grey-text-color);
    text-align: center;
}