.sld-radio-container {
  position: relative;
  box-sizing: border-box;
  list-style: none;
  cursor: pointer;
  display: inline-flex;
  column-gap: 4px;
  .sld-radio-inner-animation::after {
    position: absolute;
    top: -1px;
    right: -1px;
    bottom: -1px;
    opacity: 0.2;
    left: -1px;
    display: block;
    border-radius: inherit;
    pointer-events: none;
    content: "";
    border: 0 solid var(--sld-primary-color);
    animation: waveEffect 0.4s cubic-bezier(0.08, 0.82, 0.17, 1),
      fadeEffect 1.5s cubic-bezier(0.08, 0.82, 0.17, 1);
    animation-fill-mode: forwards;
  }
}

.sld-radio-input-wrapper {
  position: relative;
  display: inline-block;
  width: 16px;
  height: 16px;
  border-radius: 16px;
  .sld-radio-inner {
    cursor: pointer;
    position: relative;
    width: 100%;
    border-radius: 50%;
    height: 100%;
    display: inline-block;
    border: 1px solid var(--sld-default-border-color);
    transition: all 0.2s;
    &:hover {
      border-color: var(--sld-primary-color);
    }
  }
  .sld-radio-inner-disabled {
    cursor: not-allowed;
    background-color: var(--sld-input-disabled-bg);
    border-color: var(--sld-default-border-color);
    &:hover {
      border-color: var(--sld-default-border-color);
    }
  }
  .sld-radio-inner-checked {
    position: relative;
    border-color: var(--sld-primary-color);
    &::after {
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      top: 50%;
      left: 50%;
      display: table;
      background-color: var(--sld-primary-color);
      content: " ";
      animation: inner 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
      animation-fill-mode: forwards;
      border-top: 0;
      border-left: 0;
      transform: translate(-50%, -50%);
    }
  }
  .sld-radio-inner-checked-disabled {
    position: relative;
    border-color: var(--sld-default-border-color);
     &:hover{
      border-color: var(--sld-default-border-color);
    }
    &::after {
      position: absolute;
      width: 8px;
      height: 8px;
      border-radius: 8px;
      top: 50%;
      left: 50%;
      display: table;
      background-color: var(--sld-default-border-color);
      content: " ";
      animation: inner 0.4s cubic-bezier(0.08, 0.82, 0.17, 1);
      animation-fill-mode: forwards;
      border-top: 0;
      border-left: 0;
      transform: translate(-50%, -50%);
    }
  }
}
@keyframes waveEffect {
  100% {
    top: -4px;
    right: -4px;
    bottom: -4px;
    left: -4px;
    border-width: 4px;
  }
}

@keyframes fadeEffect {
  100% {
    opacity: 0;
  }
}

@keyframes inner {
  0% {
    width: 0;
    height: 0;
    border-radius: 0;
  }
  100% {
    width: 8px;
    height: 8px;
    border-radius: 8px;
  }
}
.sld-radio-input {
  cursor: pointer;
  margin: 0;

  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}
