.ac-navbar-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 180px;
    height: 60px;
    box-sizing: border-box;
    text-decoration: none
}

.ac-description {
    display: flex;
    align-items: flex-end
}

.ac-description-children {
    flex: 1
}

.codebox-wrapper {
    min-width: 600px
}

.codebox-wrapper:last-child {
    margin-bottom: 48px
}

.code-preview h2 {
    color: var(--color-text-1);
}

.code-preview p,
.code-preview li {
    color: var(--color-text-2);
}

.codebox-wrapper .code-preview code,
.markdown-body pre.code_block {
    font-family: Menlo, Consolas;
    font-size: 12px;
    color: var(--color-text-2);
    border: 1px solid var(--color-neutral-2);
    background-color: var(--color-neutral-2);
}

.codebox-wrapper .code-preview code {
    margin: 0 4px;
}

.ac-content {
    display: flex;
    margin-top: 60px;
}

.ac-content-menu {

    flex-shrink: 0;
    height: 600px;
    width: 260px;
    padding: 4px 12px;
}

.ac-content-menu .arco-menu {
    height: 100%;
}

.ac-anchor-layout-holder {
    flex-shrink: 0;
    width: 180px;
    height: 100vh;
    transition: all .15s
}

.code-show-all {
    display: block !important;
}

.content-code-design {
    overflow: auto;
    padding: 28px 48px;
    background-color: var(--color-fill-1);
    /* display: none; */
    margin-top: 12px;
    box-sizing: border-box;
}

.content-css-design {
    overflow: auto;
    padding: 28px 48px;
    background-color: var(--color-fill-1);
    /* display: none; */
    /* margin-top: 12px; */
    border-top: 1px solid var(--color-border);
    box-sizing: border-box;
}

.arco-content-code-wrapper {
    overflow: hidden;
}

.arco-content-code-wrapper pre {
    word-break: break-all;
    word-wrap: break-word;
    color: var(--color-text-2);
}

.arco-code-operations {
    display: flex;
    justify-content: flex-end;
    padding-top: 12px;
}


.ac-content-body {
    min-width: 0;
    padding: 0 56px;
    flex: 1
}

.code-preview h2 {
    font-size: 20px;
    margin-top: 48px;
    margin-bottom: 12px
}

.codebox-wrapper .demo {
    margin-top: 24px;
    padding: 48px;
    color: #282f38;
    background-color: var(--color-bg-2);
    border: 1px solid var(--color-border);
    border-radius: 2px 2px 0 0
}