@cyan-1: #e6fffb;
@cyan-2: #b5f5ec;
@cyan-3: #87e8de;
@cyan-4: #5cdbd3;
@cyan-5: #36cfc9;
@cyan-6: #13c2c2;
@cyan-7: #08979c;
@cyan-8: #006d75;
@cyan-9: #00474f;
@cyan-10: #002329;
@warn-color: #d97540;
@info-color: #16a1f8;
@error-color: #ff4d4f;
@error-color-hover: #ff4d50bf;
@default-border-color-light: #d9d9d9;
@ghost-btn-border-color-light: rgb(158, 158, 158);
@default-text-color-light: #000000e0;
@default-text-color-dark: #ffffffd9;
@default-text-color-disabled-light: #00000040;
@default-text-color-disabled-dark: #ffffff40;
@default-white: #fff;
@default-grey-text-color:#9a9a9a;
@message-box-shadow: #64646f33 0px 7px 29px 0px;
@input-disabled-bg:#efefefa1;
