.sld-col-demo-container{
    background-color:#13c2c2;
    min-height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
}
.sld-col-demo-container-2{
    background-color:#007a7a;
    min-height: 60px;
    line-height: 60px;
    color: #fff;
    text-align: center;
}